{% extends "base_site.html" %} {% block title %} Reviews {% endblock title %} {% load crispy_forms_tags %} {% block content %}
<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Give Your Review</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <form method="POST">
                            {% csrf_token %}
                            <fieldset class="form-group">
                                {{ form | crispy }}
                            </fieldset>
                            <div class="form-group">
                                <button class="btn btn-outline-info" type="submit">Post</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
{% endblock %} {% block javascripts %} {{ block.super}} {% endblock javascripts %}